


 body {

    background-image:images (4).jpg  ;
    text-align: center;
    padding: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 
  /* p { 
     /* this css is for the use of ato kebede */
     background-color: yellow;
     text-align: center;
     padding: 150px;
     padding-top: 30px;
     padding-bottom: 30px;
 } */